tmp/
components/
managed_components/**
!managed_components/espressif__esp-sr/
!managed_components/espressif__esp-sr/src/
!managed_components/espressif__esp-sr/src/esp_mn_speech_commands.c
build/
dist/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
*.bin
mmap_generate_*.h
.clangd
